#container {
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content:center; /* switched from default (flex-start, see below) */
    background-color: lightyellow;
  }
 .container{ width: -webkit-fill-available;}